html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 0.5;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 0.5;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
body {
  min-height: 100vh;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.mood-top-section {
  min-height: 100vh;
}
header {
  font-size: 80px;
  line-height: normal;
  margin-bottom: 0.5em;
}
.doughnut-chart-container {
  position: relative;
  margin: auto;
  height: 85vh;
  width: 100%;
  margin-top: 2rem;
}

section {
  min-height: 100vh;
}

.carousel-item img {
  max-height: 50vh;
  max-width: 100%;
  width: auto;
  height: auto;
}

.line-chart-container {
  position: relative;
  height: 45vh;
  width: 100%;
}
.emoji {
  font-size: 50px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #ffffff;
  height: 1px;
}

.submit-button {
  letter-spacing: 1px;
  border-radius: 50px;
  font-size: 30px;
  padding: 15px 20px;
}

a {
  color: rgb(24, 167, 74);
}

.login {
  height: 100vh;
}

.login h6 {
  color: grey;
  font-weight: lighter;
}

.login header {
  font-size: 120px;
}

.song-display {
  margin: 30px 0px 30px 0px;
}

.search-field {
  font-size: 16px;
  min-height: 20px;
  border-radius: 25px;
  line-height: 20px;
  padding: 10px;
  border: 1px solid #b9b9af;
  background-color: #fff;
  opacity: 0.9;
}

#result-table {
  min-height: 90vh;
}
